body{
    background-color: white;
    color: black;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.card{
    text-align: center;
}

.display{
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 5rem;
}

button{
    background-color: black;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: white;
    color: black;
}